    :root{
      --bg: #0f0f0f;
      --surface: #1a1a1a;
      --card: #242424;
      --green: #00c896;
      --red: #ff4757;
      --text: #f0f0f0;
      --muted: #888;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background-color: var(--bg);
      color: var(--text);
      font-family: 'Segoe UI', sans-serif;
      max-width: 700px;
      margin: 0 auto;
      padding: 40px 20px;

    }

    h1{
      text-align: center;
      font-size: 2rem;
      color: var(--green);
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    form{
      background:var(--surface);
      padding: 24px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 20px;
    }

    input::placeholder {
      color: var(--muted);
    }

    input[type ="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    select option {
      background-color: var(--card);
      color: var(--text)
    }

    input, select {
      background-image: var(--card);
      border: 1px solid #333;
      color: var(--text) !important;
      padding: 12px;
      border-radius: 8px;
      font-size: 1rem;
      width: 100%;
      color-scheme: dark;
    }

    .submitBtn{
      background: var(--green);
      color: #000;
      border: none;
      padding: 12px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      font-size: 1rem;
    }

    #filter {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .filterBtn {
      background: var(--surface);
      color: var(--text);
      border: 1px solid #333;
      padding: 8px 16px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 0.85rem;
    }

    .filterBtn:hover {
      border-color: var(--green);
      color: var(--green);
    }

    #displayArea > div {
      background: var(--card);
      padding: 16px;
      border-radius: 10px;
      margin-bottom: 12px;
      border-left: 4px solid var(--green);
    }

    #totals {
      background: var(--surface);
      padding: 16px;
      border-radius: 10px;
      text-align: center;
      font-size: 1.2rem;
      color: var(--green);
      font-weight: bold;
      margin-top: 20px;
    }
